<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/129210617d.js" crossorigin="anonymous"></script>
      
    <!-- custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css" >

    <title>Hello, world!</title>
  </head>
   
<body>
  
      
    <div class="container-build wrap">
        <div class="container-wrapper">
                <div class="header">
                    <h2>Welcome to Accidents Dashboard</h2>
                    <hr>
                </div>
                <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fullnameField">Full Name</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-user"></i>
            </div>
                <input type="text" class="form-control" placeholder="John Mark">
            </div>
    </div>
    <div class="form-group col-md-6">
      <label for="usernameFiled">Choose Username</label>
        <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-user"></i>
            </div>
            <input type="text" class="form-control" placeholder="Brad123">
        </div>
    </div>
  </div>
<div class="form-group">
    <label for="inputAddress">Address</label>
        <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
  </div>
<div class="form-group">
    <label for="Email">Email</label>
        <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-envelope"></i>
            </div>
            <input type="text" class="form-control" id="inputEmail4" placeholder="info@cleanit.com">
        </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="City">City</label>
              <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <input type="text" class="form-control" placeholder="festac">
        </div>
    </div>
    <div class="form-group col-md-3">
      <label for="State">State</label>
                  <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
                <input type="text" class="form-control" placeholder="lagos">
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="Country">Country</label>
                  <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <input type="text" class="form-control" placeholder="Nigeria">
        </div>
    </div>
  </div>
<div class="form-row">
    <label for="gender"> Gender: </label>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline1">Female</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline2">Male</label>
    </div>
</div>
                    
  <div class="form-group">
    <label for="inputAddress2">Date of Birth</label>
              <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-calendar-alt"></i>
            </div>
            <input type="date" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="password">Create Password</label>
        <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-lock"></i>
            </div>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Choose strong password">
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="conPassword">Confirm Password</label>
        <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-lock"></i>
            </div>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Confirm password">
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-custom-style">Create Account</button>
    <span class="login-link">Already have account? <a href="#">login now!</a></span>
</form>
            </div>
        </div>  
      


      
      
<!--      images from 
        <a href="https://www.freepik.com/free-photos-vectors/car">Car vector created by brgfx - www.freepik.com</a>
-->
      
      
  </body>
    
      
  
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </html>